<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="home-title">A Classic<br class="mob"/>
        Puzzle Experience for All Ages</h1>
        <div class="home-wrapper">
            <picture>
                <source srcset="
                            /img/home/desk.png 1x,
                            /img/home/desk@2x.png 2x
                            " media="(min-width: 1440px)" />
                <source srcset="
                            /img/home/mob.png 1x,
                            /img/home/mob@2x.png 2x
                            " media="(max-width: 1439px)" />
                <img src="/img/home/mob.png" alt="Sliding Puzzle" loading="lazy" />
            </picture>
            <div class="home-text-wrapper">
                <p class="home-text">Relax, focus, and <br class="mob"/>
                slide your way to completion.</p>
                <p class="home-text-two">Love puzzle games? You'll get hooked on this one - it's got that perfect mix of simple rules and tricky strategy that
                keeps you coming back. It's the classic sliding puzzle you probably played as a kid - you know, the one where you slide
                tiles around until everything clicks into place. Anyone can pick it up in seconds, but don't let that fool you - these
                puzzles can be seriously addictive once you get going.</p>
                <a class="home-link" href="https://play.google.com/store/apps/details?id=com.pegolandia.slidingpuzzle&hl=en&gl=us">
                    <img src="/img/home/btn.png" alt="google play" loading="lazy">
                </a>
            </div>
        </div>
    </div>
</section>