.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 48px;
}
.home-title{
    margin-top: 24px;
    font-family: "Barlow Semi Condensed", sans-serif;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.3;
        text-transform: uppercase;
        text-align: center;
        color: #111;
        margin-bottom: 16px;
}
.home-wrapper{
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
}
.home-text-wrapper{
    width: 323px;
        display: flex;
            flex-direction: column;
            align-items: center;
}
.home-text{
    font-family: "Barlow Semi Condensed", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        color: #111;
margin-bottom: 16px;
}
.home-link{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #666977;
        border-radius: 12px;
        width: 240px;
        height: 64px;
box-shadow: 2px 2px 2px 0 rgba(153, 156, 174, 0.3);
background: linear-gradient(90deg, #34363f, #4a4d5a);
    transition: background 0.3s ease-in-out;
}
.home-link:hover,
.home-link:active{
    background: linear-gradient(90deg, #656a80 0%, #292b36 100%);
}
@media only screen and (min-width: 1440px) {
 .home-container{
    padding-bottom: 100px;
    padding-left: 148px;
    padding-right: 148px;
 }
 .mob{
    display: none;
 }
 .home-title{
    margin-top: 60px;
    font-size: 56px;
    margin-bottom: 64px;
 }
 .home-wrapper{
    flex-direction: row;
    justify-content: center;
    gap: 64px;
 }
 .home-text-wrapper{
width: 450px;
align-items: start;
 }
 .home-text{
    font-size: 24px;
    text-align: left;
    margin-bottom: 32px;
 }
 .home-text-two{
    text-align: left;
 }
 .home-link{
margin-top: 36px;                                                                                                    
}
}
/* ABOUT THE GAME */
.about-conatiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 26px;
    padding-right: 26px;
}
.about-subtitle{
    margin-bottom: 56px;
}
.desk{
    display: none;
}
@media only screen and (min-width: 1440px) {
.about-conatiner {
flex-direction: row;
        align-items: start;
        gap: 64px;
        padding-left: 148px;
        padding-right: 148px;
    }
.about-subtitle{
  text-align: left;
  margin-bottom: 0;
}
.about-text{
    width: 772px;
    text-align: left;
}
.desk{
    display: block;
}
}
/* HOW TO PLAY */
.how-section{
    background: #eee;
}
.how-text{
    font-family: "Barlow Semi Condensed", sans-serif;
        font-weight: 300;
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        color: #111;
        width: 313px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;
}
.how-container{
    padding-bottom: 140px;
}
.how-container .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
padding-bottom: 60px;
}
/* звичайні точки */
.how-container .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #666977;
    border-radius: 50%;
    opacity: 1 ;
    margin:0;
    transition: all 0.3s ease;
}

/* активна */
.how-container .swiper-pagination-bullet-active {
    width: 24px;
    height: 24px;
    background: #34363f;
}
.mySwiper .swiper-slide{
    border: 1px solid #34363f;
        border-radius: 12px;
        padding: 32px;
        width: 260px;
        height: 324px;
background: #666977;
display: flex;
flex-direction: column;
align-items: center;
gap: 16px;
}
.how-slide-text{
    font-family: "Barlow Semi Condensed", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        color: #eee;
        width: 196px;
}
@media only screen and (min-width: 1440px) {
  .mySwiper .swiper-wrapper{
gap: 32px;
justify-content: center;
  }
  .how-text{
    width: 100%;
    font-size: 24px;
    margin-bottom: 48px;
  }
  .how-container .swiper-pagination{
    display: none;
  }
   .how-container{
    padding-bottom: 80px;
   }
}
/* FEATURES */
.features-text{
    margin-top: 32px;
    margin-bottom: 32px;
        font-weight: 300;
        font-size: 20px;
}
.features-section{
    background-image: url("/img/features/mob.png");
    background-repeat: no-repeat;
    background-position: bottom 40px center;
    background-size: 100% 275px;
    height: 1100px;
}
.features-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.features-item{
    display: flex;
    align-items: center;
    border: 1px solid rgba(102, 105, 119, 0.4);
        border-radius: 12px;
        padding: 16px 16px 16px 20px;
        width: 343px;
        height: 64px;
        background: #eee;
        gap: 12px;
        text-align: left;
}
.features-item img{
    width: 32px;
    height: 32px;
}
@media only screen and (min-width: 1440px) {
   .features-text{
    margin-bottom: 48px;
    font-size: 24px;
   }
.features-list{
    flex-direction: row;
    gap: 32px;
}
.features-item{
    flex-direction: column;
    width: 200px;
        height: auto;
        gap: 16px;
        padding: 32px;
        text-align: center;
}
.features-item img {
    width: 48px;
    height: 48px;
}
.features-section{
    background-image: url("/img/features/desk.png");
        background-size: 100% 707px;
        background-position: bottom 60px center;
height: 1300px;
}
}
/* CREATE YOUR OWN PUZZLE */
.create-section{
    background: #eee;
}
.create-text{
    margin-top: 32px;
    margin-bottom: 32px;
    width: 253px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
.create-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
        padding: 32px 24px;
        width: 343px;
        height: 626px;
        background: #666977;
        gap: 16px;
}
.create-text-wrapper{
display: flex;
flex-direction: column;
gap: 16px;
color: #eee;
width: 295px;
}
.create-text-three{
    font-weight: 300;
        font-size: 10px;
        letter-spacing: -0.02em;
}
@media only screen and (min-width: 1440px) {
   .create-text{
    margin-bottom: 48px;
    font-size: 24px;
    width: 100%;
   }
   .create-wrapper{
    padding: 32px 48px;
        width: 887px;
        height: 264px;
        flex-direction: row;
        gap: 32px;
        margin-left: auto;
        margin-right: auto;
   }
.create-text-wrapper{
    width: 327px;
}
.create-text-three{
font-size: 12px;
}
}
/* WHY PLAY SLIDING PUZZLE? */
.features-text{
    margin-top: 0;
}
@media only screen and (min-width: 1440px) {
  .why-item-text{
    font-size: 16px;
    width: 146px;
  }
}
/* FAQ */
.faq-section{
    background: #eee;
}
.faq-acc {
    display: flex;
    flex-direction: column;
width: 343px;
    margin: 0 auto;
    gap: 12px;

}

.faq-acc-el {
    position: relative;
    transition: margin-bottom 0.3s ease;
}

.faq-acc-el-title {
    margin-bottom: 0;
}

.faq-acc-el-trigger {
    border: none;
    background: inherit;
    padding: 12px;
width: 343px;
    height: auto;
font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    color: #111;
border-bottom: 2px solid rgba(101, 106, 128, 0.5);
    margin-bottom: 0;
    cursor: pointer;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
gap: 20px;
}


.faq-acc-arr {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    transition: transform 0.3s ease;
    width: 24px;
    height: 24px;
    border: none;
    background-color: inherit;
    border-radius: 100%;
}

.faq-acc-arr.is-hidden {
    display: none;
}

.faq-acc-el.open .faq-acc-arr {
    transform: rotate(180deg);
}

.faq-acc-el-descr-frame {
    background: inherit;
width: 343px;

    text-align: left;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, border-bottom 0.3s ease;
}

.faq-acc-el.js-enabled .faq-acc-el-descr-frame {
    visibility: hidden;
}


.faq-acc-el.open .faq-acc-el-descr-frame {
    visibility: visible;
    opacity: 1;
    border: none;
    padding: 12px;
    background: inherit;
width: 343px;
    max-height: 500px;


}

@media only screen and (min-width: 1440px) {

    .faq-acc {
width: 994px;
        margin: 0 auto;
        gap: 16px;
    }

    .faq-acc-el-trigger {
width: 994px;
        font-size: 24px;
    }

    .faq-acc-el-descr-frame {
width: 994px;
    }

    .faq-acc-el.open .faq-acc-el-descr-frame {
width: 994px;
    }
}
/* CONTACT */
.contact-section{
    background-image: url("/img/contact/mob.png");
    background-repeat: no-repeat;
    background-position: bottom 40px center;
    background-size: 100% 280px;
    height: 600px;
}
.contact-title{
    font-weight: 300;
        font-size: 24px;
        margin-bottom: 32px;
}
.contact-text{
    font-size: 16px;
}
.contact-link{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 16px;
}
@media only screen and (min-width: 1440px) {
  .contact-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .contact-link{
    margin-top: 0;
  }
.contact-section{
    background-image: url("/img/contact/desk.png");
        background-position: bottom 0 center;
        background-size: 100% 792px;
height: 1060px;
}
}